{% for carrera in carreras %}
        <div class="col-lg-4">
            <a class="carrera" href="#">
                <img src="/media/{{ carrera.imagen }}" alt="imagen"/>
                <h4>{{ carrera.nombre }}</h4>
            </a>
        </div>
{% endfor %}

{% block js %}
    <script>
        $('.carrera').on('click', siguiente);
        function siguiente() {
            var carrera = $(this).find('h4').text();
            console.log('entro: ' + carrera);
            $.ajax({
                data: {'carrera':carrera},
                url: '{% url 'preguntas' %}',
                type: 'get',
                success:function(data) {
                    $('.ajax2').html(data);
                }
            });
        }
    </script>
{% endblock %}