<h1 class="cover-heading">Seleccione su edad</h1>
<div class="container">
<div class="row">

{% if edades %}
    {% for edad in edades %}
        <div class="col-lg-3">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h3 class="list-group-item-heading">{{ edad.edad }}</h3>

                    <p class="list-group-item-text">años</p>
                </a>
            </div>
        </div>
    {% endfor %}

{% endif %}


</div>


</div>



{% block js %}
    <script>
        $('.list-group-item').on('click', pasada);
        function pasada() {
            var edad = $(this).find('h3').text();
            $.ajax({
                data: {'edad': edad},
                url: '{% url 'carrera' %}',
                type: 'get',

            });

        }
    </script>
{% endblock %}
