{% extends 'base.html' %}

{% block title %}
    Encuestas UPSIN
{% endblock %}


{% block contenido %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading">Terminos y condiciones</h1>

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium cum cumque delectus, error ex iste laboriosam, laborum libero modi nam nobis obcaecati omnis porro quos ratione similique ut voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis ducimus earum, eligendi error eveniet labore maxime mollitia nostrum nulla odio officia perspiciatis provident recusandae saepe sit temporibus ut vero?</p>

                    <p class="lead">
                        <a href="{% url 'genero' %}" class="btn btn-lg btn-default">Estoy de acuerdo</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
{#                        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a#}
{#                                href="https://twitter.com/mdo">@mdo</a>.</p>#}
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

