{% extends 'base.html' %}
{% block title %}
    Selecciona tu Genero
{% endblock %}

{% block estilos %}
    <style>
    body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
    </style>
{% endblock %}

{% block contenido %}
    <div class="site-wrapper">
        <h1 class="cover-heading">Selecciona tu g&eacute;nero</h1>
        <div class="row">
            <div class="col-md-6">
                <a class="genero" id="hombre" href="#">
                    <img src="{{ STATIC_URL }}/img/hombre.png" alt=""/>
                    <h2>Masculino</h2>
                </a>
            </div>
            <div class="col-md-6">
                <a class="genero" id="mujer" href="#">
                    <img src="{{ STATIC_URL }}/img/mujer.png" alt=""/>
                    <h2>Femenino</h2>
                </a>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.genero').on('click', funcion);
        function funcion() {
            var valor = $(this).attr('id');
            console.log(valor);
        }
    </script>
{% endblock %}

    <a href="#">
        <legend >Caption</legend>
        <img class="thumbnail" src="http://placehold.it/140x90" alt="">
    </a>